            <!--start repo -->
             <div class="repo">
              <a class="repo-name" href="{{html_url}}">{{name}}</a>
              <div class="repo-updated">Updated on {{formatDate}}</div>

              <div class="details">
              <div class="details-fork"><span class="octicon octicon-git-branch"></span> {{forks_count}}</div>
              <div class="details-star"><span class="octicon octicon-star"></span> {{stargazers_count}}</div>
              <div class="details-code">{{language}}</div>
              </div>
              <hr class="repo-hr">

            </div>
            <!--end repo-->