 <img class="user-photo" src="{{avatar_url}}">
          <div class="user-name">{{name}}</div>
          <div class="user-handle">{{login}}</div>
          <hr>
          <span class="octicon octicon-location"></span> 
          <div class="city">{{location}}</div>
          <span class="octicon octicon-clock"></span>
          <div class="joined-on">Joined on {{formatDate}}</div>
          <hr>
          <div class="stats-container">
            <div class="stats followers">
              <a class="stats-num" href="{{followers_url}}">{{followers}}</a>
              <div class="stats-text">Followers</div>
            </div>
            <div class="stats starred">
              <a class="stats-num" href="{{starred_url}}">{{starredCount}}</a>
              <div class="stats-text">Starred</div>
            </div>
            <div class="stats following">
              <a class="stats-num" href="{{following_url}}">{{following}}</a>
              <div class="stats-text">Following</div>
            </div>
          </div>
          <hr>